In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sreya\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\sreya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\sreya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sreya\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sreya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sreya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
# Let's import all required libraries

import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds

# Question 1)

In [83]:
driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

In [84]:
driver.maximize_window()

In [85]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [86]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [87]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [80]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [88]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience_required.append(i.text)

In [89]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [92]:
import pandas as pd

In [95]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Title,Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
8,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs

# Question 2)

In [96]:
driver = webdriver.Chrome()

driver.get("http://www.naukri.com/")

In [97]:
driver.maximize_window()

In [99]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [100]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [101]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [102]:
job_title = []
job_location = []
company_name = []

In [103]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

In [104]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [105]:
df =  pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
5,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
6,Data Scientist with Retail Domain,"Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, ...",TRH Consultancy Services
7,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services
8,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services
9,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services

# Question 3)

In [139]:
driver = webdriver.Chrome()

driver.get("http://www.naukri.com/")

In [140]:
driver.maximize_window()

In [141]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [142]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [144]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location.click()

In [145]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [146]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [147]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)

In [149]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)

In [153]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

In [155]:
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    experience_required.append(i.text)

In [156]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [157]:
df = pd.DataFrame({'Job Title':job_title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Location,Company Name,Experience Required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,Principal Data Scientist,New Delhi,Benovymed Healthcare,2-7 Yrs

# Question 4)

In [13]:
driver = webdriver.Chrome()

driver.get("http://www.flipkart.com/")

In [14]:
driver.maximize_window()

In [15]:
product_search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input")
product_search.send_keys('sunglasses')

In [16]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [17]:
brand_name = []
product_descrpt =[]
price = []

In [18]:
for i in range(3):
    print('scrapping page', i+1)
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name.append(i.text)
        
    descrpt_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descrpt_tags:
        product_descrpt.append(i.text)
        
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

scrapping page 1
scrapping page 2
scrapping page 3

In [22]:
brand_name100 = brand_name[:100]
product_descrpt100 = product_descrpt[:100]
price100 = price[:100]

In [23]:
print(len(brand_name100),len(product_descrpt100),len(price100))

100 100 100

In [40]:
df = pd.DataFrame({'Brand Name':brand_name100,'Product Description':product_descrpt100,'price':price100})
df

     Brand Name                                Product Description   price
0   john jacobs     Polarized, UV Protection Round Sunglasses (48)  â‚¹6,000
1        OAKLEY                         HOLBROOK Wayfarer Sunglass  â‚¹5,179
2     Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    â‚¹168
3       Styloze  Riding Glasses, Night Vision Wayfarer Sunglass...    â‚¹183
4          SRPM             UV Protection Wayfarer Sunglasses (50)    â‚¹194
..          ...                                                ...     ...
95     Fastrack  Polarized, UV Protection Retro Square Sunglass...    â‚¹679
96  john jacobs                UV Protection Round Sunglasses (53)  â‚¹6,000
97  john jacobs   UV Protection Rectangular Sunglasses (Free Size)  â‚¹5,000
98      eyedens  Mirrored, UV Protection Wayfarer Sunglasses (F...    â‚¹599
99    Elligator             UV Protection Wayfarer Sunglasses (56)    â‚¹199

[100 rows x 3 columns]

# Question 5)

In [6]:
driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [7]:
driver.maximize_window()

In [8]:
rating = []
review_summary = []
full_review = []

In [9]:
for i in range(10):
    print('scrapping page', i+1)
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
    rev_sum = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev_sum:
        review_summary.append(i.text)
        
    rev_full = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rev_full:
        full_review.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9
scrapping page 10

In [10]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [11]:
df = pd.DataFrame({'Product Ratings':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Product Ratings,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Wonderful,This is amazing at all
3,5,Brilliant,Excellent Phone.
4,5,Must buy!,Itâ€™s really awesome
...,...,...,...
95,5,Mind-blowing purchase,Photos super
96,5,Excellent,Best camera ever
97,5,Terrific purchase,Value for money ðŸ–¤ðŸ–¤
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Super!,Good product ðŸ‘ŒI love iPhone

# Question 6)

In [2]:
driver = webdriver.Chrome()

driver.get("http://www.flipkart.com/")

In [36]:
driver.maximize_window()

In [38]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('sneakers')

In [40]:
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search_button.click()

In [41]:
brand = []
product_descrpt = []
price = []

In [42]:
for i in range (3):
    print('scrapping page', i+1)
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
        
    descrpt_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descrpt_tags:
        product_descrpt.append(i.text)
        
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

scrapping page 1
scrapping page 2
scrapping page 3

In [43]:
brand100 = brand[:100]
product_descrpt100 = product_descrpt[:100]
price100 = price[:100]

In [44]:
print(len(brand100),len(product_descrpt100),len(price100))

100 100 100

In [45]:
df = pd.DataFrame({'Brand Name':brand100,'Product Description':product_descrpt100,'Price':price100})
df

     Brand Name                                Product Description   Price
0         Sparx  Stylish and Comfirtable Shoes For Mens Sneaker...    â‚¹764
1        BRUTON    !Combo Pack Of 2 Casual Shoes! Sneakers For Men    â‚¹479
2          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    â‚¹399
3          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    â‚¹499
4           SFR                                   Sneakers For Men    â‚¹348
..          ...                                                ...     ...
95       BRUTON                                   Sneakers For Men    â‚¹299
96         ATOM                      LYTE CLASSIC Sneakers For Men  â‚¹1,389
97  New Balance                        GEL-CITREK Sneakers For Men  â‚¹6,759
98     PrasKing  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    â‚¹584
99         aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    â‚¹409

[100 rows x 3 columns]

# Question 7)

In [75]:
driver = webdriver.Chrome()

driver.get("https://www.amazon.in/")

In [76]:
driver.maximize_window()

In [77]:
search_product = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_product.send_keys('Laptop')

In [78]:
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [79]:
cpu_type = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[10]/li/span/a/div/label/i')
cpu_type.click()

In [80]:
title = []
rating =[]
price = []

In [81]:
title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[:10]:
    title.append(i.text)

In [82]:
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for p in price_tags[:10]:
    price.append(p.text)

In [83]:
rating_tags = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for r in rating_tags[:10]:
    rating.append(r.text)

In [84]:
print(len(title),len(rating),len(price))

10 10 10

In [85]:
df = pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating      Price
0                        Dell Inspiron 5430 13th Gen           â‚¹86,420
1  , Intel i7-1360P/16GB/1TB SSD/14.0" (35.56CMs)...           â‚¹61,990
2  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...           â‚¹62,990
3  (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1...           â‚¹79,990
4  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...         â‚¹1,04,990
5  (16GB/512GB SSD/Win 11/Office 2021/2 Years War...           â‚¹89,990
6  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...           â‚¹29,099
7  /Intel Iris Xe Graphics/Backlit Keyboard/Alexa...           â‚¹71,490
8                       Acer Nitro 5 AN515-58 Gaming           â‚¹63,490
9  12th Gen Intel Core i7-12650H NVIDIA GeForce R...           â‚¹80,990

# Question 8)

In [3]:
driver = webdriver.Chrome()

driver.get("http://www.azquotes.com/")

In [4]:
driver.maximize_window()

In [5]:
topquote_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
topquote_button.click()

In [6]:
quote = []
author = []
types = []

In [7]:
for i in range(0,10):
    print('scrapping page', i+1)
    
    quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for q in quote_tags:
        quote.append(q.text)
        
    author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for a in author_tags:
        author.append(a.text)
        
    type_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for t  in type_tags:
        types.append(t.text)
        
    next_button = driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(1)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9
scrapping page 10

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=115.0.5790.99); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00E0A813+48355]
	(No symbol) [0x00D9C4B1]
	(No symbol) [0x00CA5358]
	(No symbol) [0x00CD09A5]
	(No symbol) [0x00CD0B3B]
	(No symbol) [0x00CFE232]
	(No symbol) [0x00CEA784]
	(No symbol) [0x00CFC922]
	(No symbol) [0x00CEA536]
	(No symbol) [0x00CC82DC]
	(No symbol) [0x00CC93DD]
	GetHandleVerifier [0x0106AABD+2539405]
	GetHandleVerifier [0x010AA78F+2800735]
	GetHandleVerifier [0x010A456C+2775612]
	GetHandleVerifier [0x00E951E0+616112]
	(No symbol) [0x00DA5F8C]
	(No symbol) [0x00DA2328]
	(No symbol) [0x00DA240B]
	(No symbol) [0x00D94FF7]
	BaseThreadInitThunk [0x76137D59+25]
	RtlInitializeExceptionChain [0x7701B79B+107]
	RtlClearBits [0x7701B71F+191]

In [8]:
print(len(quote),len(author),len(types))

1000 1000 1000

In [9]:
df = pd.DataFrame({'Quote':quote,'Author Name':author,'Type of quote':types})
df

,Quote,Author Name,Type of quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

# Question 10)

In [4]:
driver = webdriver.Chrome()

driver.get("https://www.motor1.com/")

In [5]:
driver.maximize_window()

In [7]:
search_bar = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_bar.send_keys('50 most expensive cars')

In [12]:
search_button = driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search_button.click()

In [13]:
exp_cars = driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
exp_cars.click()

In [14]:
car_name = []
price_list = []

In [15]:
car_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_tags[:50]:
    car_name.append(i.text)

In [16]:
price_tags = driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[1]/p/strong')
for i in price_tags:
    price_list.append(i.text)

In [23]:
import re
price_list = [item for item in price_list if re.search(r'\S', item)]

print(price_list)

['Price: $1.3 Million', 'Price: $1.4 Million', 'Price: $1.4 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million*', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.5 Million', 'Price: $3.6 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)']

In [24]:
print(len(price_list),len(car_name))

50 50

In [25]:
df = pd.DataFrame({'Car Name':car_name,'Price':price_list})
df

                           Car Name                        Price
0                     De Tomaso P72          Price: $1.3 Million
1                 Ferrari LaFerrari          Price: $1.4 Million
2                     Pagani Huayra          Price: $1.4 Million
3                      McLaren Elva          Price: $1.7 Million
4                       Czinger 21C          Price: $1.7 Million
5                     Ferrari Monza          Price: $1.7 Million
6                Gordon Murray T.33          Price: $1.7 Million
7                 Koenigsegg Gemera          Price: $1.7 Million
8                       Zenvo TSR-S          Price: $1.7 Million
9                Hennessey Venom F5          Price: $1.8 Million
10                  Bentley Bacalar          Price: $1.9 Million
11    Hispano Suiza Carmen Boulogne          Price: $1.9 Million
12           Bentley Mulliner Batur          Price: $2.0 Million
13                     Deus Vayanne          Price: $2.0 Million
14                      SSC Tuatara         Price: $2.0 Million*
15                      Lotus Evija          Price: $2.1 Million
16              Aston Martin Vulcan          Price: $2.3 Million
17                       Delage D12          Price: $2.3 Million
18                McLaren Speedtail          Price: $2.3 Million
19                     Rimac Nevera          Price: $2.4 Million
20                    Pagani Utopia          Price: $2.5 Million
21             Pininfarina Battista          Price: $2.5 Million
22                Ferrari FXX K Evo          Price: $2.6 Million
23               Gordon Murray T.50          Price: $2.6 Million
24             Lamborghini Countach          Price: $2.6 Million
25         Mercedes-AMG Project One          Price: $2.7 Million
26              Aston Martin Victor          Price: $3.0 Million
27      Hennessey Venom F5 Roadster                 $3.0 Million
28                 Koenigsegg Jesko          Price: $3.0 Million
29            Aston Martin Valkyrie          Price: $3.2 Million
30        W Motors Lykan Hypersport          Price: $3.4 Million
31                    McLaren Solus                 $3.5 Million
32        Pagani Huayra Roadster BC          Price: $3.5 Million
33         Bugatti Chiron Pur Sport          Price: $3.6 Million
34                 Lamborghini Sian          Price: $3.6 million
35                 Koenigsegg CC850          Price: $3.7 Million
36  Bugatti Chiron Super Sport 300+          Price: $3.9 Million
37               Lamborghini Veneno          Price: $4.5 Million
38                   Bugatti Bolide          Price: $4.7 Million
39                  Bugatti Mistral          Price: $5.0 Million
40              Pagani Huayra Imola          Price: $5.4 Million
41                     Bugatti Divo          Price: $5.8 Million
42              SP Automotive Chaos          Price: $6.4 Million
43                 Pagani Codalunga          Price: $7.4 Million
44         Mercedes-Maybach Exelero          Price: $8.0 Million
45               Bugatti Centodieci          Price: $9.0 Million
46          Bugatti Chiron ProfilÃ©e         Price: $10.8 Million
47             Rolls-Royce Sweptail         Price: $12.8 Million
48         Bugatti La Voiture Noire         Price: $13.4 Million
49           Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)

# Question 9)

In [79]:
driver = webdriver.Chrome()

driver.get("http://www.jagranjosh.com/")

In [80]:
driver.maximize_window()

In [81]:
gk = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div/div[1]/div/div[5]/div/div[1]/header/div[3]/ul/li[3]')
gk.click()

In [82]:
pm_list = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pm_list.click()

In [83]:
name = []
born_dead = []
terms = []
remarks = []

In [84]:
name_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr/td[2]')
for n in name_tags:
    name.append(n.text)

In [85]:
borndead_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr/td[3]')
for b in borndead_tags:
    born_dead.append(b.text)

In [86]:
term_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr/td[4]/p[1]')
for t in term_tags:
    terms.append(t.text)

In [88]:
remark_tags = driver.find_elements(By.XPATH,'//*[@id="itemdiv"]/div[4]/span/div[3]/table/tbody/tr/td[5]/p')
for r in remark_tags:
    remarks.append(r.text)

In [89]:
print(len(name),len(born_dead),len(terms),len(remarks))

19 19 19 19

In [90]:
df = pd.DataFrame({'Name':name,'Born-Dead':born_dead,'Term Of Office':terms,'Remarks':remarks})
df

,Name,Born-Dead,Term Of Office,Remarks
0,Jawahar Lal Nehru,(1889â€“1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904â€“1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917â€“1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896â€“1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902â€“1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917â€“1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944â€“1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931â€“2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927â€“2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921â€“2004),21 June 1991 to 16 May 1996,First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919â€“2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...