In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sreya\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sreya\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sreya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\sreya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\users\sreya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sreya\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sreya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sreya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
# Let's import all required libraries

import selenium                                  #library that is used to work with selenium

from selenium import webdriver                   #importing webdriver module from selenium to open automated chrome window

import pandas as pd                              #to create DataFrame

from selenium.webdriver.common.by import By      #importing inbuilt class By 

import warnings                                  #to ignore any sort of warning

warnings.filterwarnings("ignore")

import time                                      #use to stop search engine for few seconds

# Question 1)

In [83]:
driver = webdriver.Chrome()

driver.get("https://www.naukri.com/")

In [84]:
driver.maximize_window()

In [85]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [86]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [87]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [80]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [88]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)
    
experience_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    experience_required.append(i.text)

In [89]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [92]:
import pandas as pd

In [95]:
df = pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Title,Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Eastvantage,4-6 Yrs
1,Data Analyst,"Bangalore/ Bengaluru, Karnataka, Gurgaon/ Guru...",Delhivery,1-3 Yrs
2,Data Analyst,Bangalore/Bengaluru,Everest Vacuum,2-5 Yrs
3,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,3-5 Yrs
4,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synechron,5-8 Yrs
5,Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune",Synchron Infotech,5-8 Yrs
6,Data Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Volvo Financial Services,2-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
8,Data Analyst I,Bangalore/Bengaluru,Cerner,5-10 Yrs
9,Data Analyst,Bangalore/Bengaluru,Persolkelly India,0-2 Yrs

# Question 2)

In [96]:
driver = webdriver.Chrome()

driver.get("http://www.naukri.com/")

In [97]:
driver.maximize_window()

In [99]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [100]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Bangalore')

In [101]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [102]:
job_title = []
job_location = []
company_name = []

In [103]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)
    
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

In [104]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [105]:
df =  pd.DataFrame({'Title':job_title,'Location':job_location,'Company Name':company_name})
df

,Title,Location,Company Name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist,"Bangalore/Bengaluru, Mumbai (All Areas)",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,"Data Scientist -ML, DL, Python",Bangalore/Bengaluru,Capco
4,DATA SCIENTIST,Bangalore/Bengaluru,Walmart
5,Data Scientist,"Hybrid - Bangalore/ Bengaluru, Karnataka, Noid...",HCLTech
6,Data Scientist with Retail Domain,"Bangalore/Bengaluru, Kolkata, Mumbai, Nagpur, ...",TRH Consultancy Services
7,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services
8,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services
9,Data Scientist,"Bangalore/Bengaluru, Noida, Kolkata, Mumbai, H...",TRH Consultancy Services

# Question 3)

In [139]:
driver = webdriver.Chrome()

driver.get("http://www.naukri.com/")

In [140]:
driver.maximize_window()

In [141]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [142]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [144]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
location.click()

In [145]:
salary=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary.click()

In [146]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [147]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    job_title.append(i.text)

In [149]:
location_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    job_location.append(i.text)

In [153]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company_name.append(i.text)

In [155]:
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    experience_required.append(i.text)

In [156]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [157]:
df = pd.DataFrame({'Job Title':job_title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Job Title,Location,Company Name,Experience Required
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist/ Senior Data Scientist/ Manager...,"Noida, Kolkata, Mumbai, Chandigarh, Hyderabad/...",Dreambig It Solutions India,1-6 Yrs
3,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
4,Data Scientist,Noida,Times Internet,3-8 Yrs
5,Python and ML Trainer,"Hyderabad/Secunderabad, New Delhi, Pune, Gurga...",Thescholar,3-8 Yrs
6,Intern,Gurgaon/Gurugram,Tower Research Capital,0-1 Yrs
7,Hiring For Data Scientist,Remote,Infogain,4-9 Yrs
8,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
9,Principal Data Scientist,New Delhi,Benovymed Healthcare,2-7 Yrs

# Question 4)

In [13]:
driver = webdriver.Chrome()

driver.get("http://www.flipkart.com/")

In [14]:
driver.maximize_window()

In [15]:
product_search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input")
product_search.send_keys('sunglasses')

In [16]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [17]:
brand_name = []
product_descrpt =[]
price = []

In [18]:
for i in range(3):
    print('scrapping page', i+1)
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_name.append(i.text)
        
    descrpt_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descrpt_tags:
        product_descrpt.append(i.text)
        
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

scrapping page 1
scrapping page 2
scrapping page 3

In [22]:
brand_name100 = brand_name[:100]
product_descrpt100 = product_descrpt[:100]
price100 = price[:100]

In [23]:
print(len(brand_name100),len(product_descrpt100),len(price100))

100 100 100

In [40]:
df = pd.DataFrame({'Brand Name':brand_name100,'Product Description':product_descrpt100,'price':price100})
df

     Brand Name                                Product Description   price
0   john jacobs     Polarized, UV Protection Round Sunglasses (48)  ₹6,000
1        OAKLEY                         HOLBROOK Wayfarer Sunglass  ₹5,179
2     Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹168
3       Styloze  Riding Glasses, Night Vision Wayfarer Sunglass...    ₹183
4          SRPM             UV Protection Wayfarer Sunglasses (50)    ₹194
..          ...                                                ...     ...
95     Fastrack  Polarized, UV Protection Retro Square Sunglass...    ₹679
96  john jacobs                UV Protection Round Sunglasses (53)  ₹6,000
97  john jacobs   UV Protection Rectangular Sunglasses (Free Size)  ₹5,000
98      eyedens  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹599
99    Elligator             UV Protection Wayfarer Sunglasses (56)    ₹199

[100 rows x 3 columns]

# Question 5)

In [6]:
driver = webdriver.Chrome()

driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [7]:
driver.maximize_window()

In [8]:
rating = []
review_summary = []
full_review = []

In [9]:
for i in range(10):
    print('scrapping page', i+1)
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating.append(i.text)
        
    rev_sum = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in rev_sum:
        review_summary.append(i.text)
        
    rev_full = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in rev_full:
        full_review.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9
scrapping page 10

In [10]:
print(len(rating),len(review_summary),len(full_review))

100 100 100

In [11]:
df = pd.DataFrame({'Product Ratings':rating,'Review Summary':review_summary,'Full Review':full_review})
df

,Product Ratings,Review Summary,Full Review
0,5,Terrific,Very very good
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Wonderful,This is amazing at all
3,5,Brilliant,Excellent Phone.
4,5,Must buy!,It’s really awesome
...,...,...,...
95,5,Mind-blowing purchase,Photos super
96,5,Excellent,Best camera ever
97,5,Terrific purchase,Value for money 🖤🖤
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Super!,Good product 👌I love iPhone

# Question 6)

In [2]:
driver = webdriver.Chrome()

driver.get("http://www.flipkart.com/")

In [36]:
driver.maximize_window()

In [38]:
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('sneakers')

In [40]:
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/header/div[1]/div[2]/form/div/button')
search_button.click()

In [41]:
brand = []
product_descrpt = []
price = []

In [42]:
for i in range (3):
    print('scrapping page', i+1)
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand.append(i.text)
        
    descrpt_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descrpt_tags:
        product_descrpt.append(i.text)
        
    price_tags = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price.append(i.text)
        
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

scrapping page 1
scrapping page 2
scrapping page 3

In [43]:
brand100 = brand[:100]
product_descrpt100 = product_descrpt[:100]
price100 = price[:100]

In [44]:
print(len(brand100),len(product_descrpt100),len(price100))

100 100 100

In [45]:
df = pd.DataFrame({'Brand Name':brand100,'Product Description':product_descrpt100,'Price':price100})
df

     Brand Name                                Product Description   Price
0         Sparx  Stylish and Comfirtable Shoes For Mens Sneaker...    ₹764
1        BRUTON    !Combo Pack Of 2 Casual Shoes! Sneakers For Men    ₹479
2          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
3          aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹499
4           SFR                                   Sneakers For Men    ₹348
..          ...                                                ...     ...
95       BRUTON                                   Sneakers For Men    ₹299
96         ATOM                      LYTE CLASSIC Sneakers For Men  ₹1,389
97  New Balance                        GEL-CITREK Sneakers For Men  ₹6,759
98     PrasKing  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹584
99         aadi  Lightweight,Comfort,Summer,Trendy,Walking,Outd...    ₹409

[100 rows x 3 columns]

# Question 7)

In [3]:
driver = webdriver.Chrome()

driver.get("https://www.amazon.in/")

In [4]:
driver.maximize_window()

In [5]:
search_product = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_product.send_keys('Laptop')

In [6]:
search_button = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [7]:
cpu_type = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[7]/span[10]/li/span/a/div/label/i')
cpu_type.click()

In [8]:
title = []
rating =[]
price = []

In [9]:
title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[:10]:
    title.append(i.text)

In [10]:
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for p in price_tags[:10]:
    price.append(p.text)

In [11]:
rating_tags = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for r in rating_tags[:10]:
    rating.append(r.text)

In [12]:
rating

['', '', '', '', '', '', '', '', '', '']

In [13]:
df = pd.DataFrame({'Title':title,'Rating':rating,'Price':price})
df

                                               Title Rating      Price
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...           ₹64,990
1  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...           ₹62,990
2  Acer Nitro 5 AN515-58 Gaming Laptop 12th Gen I...         ₹1,04,990
3  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...           ₹71,490
4  Dell Vostro 5630 13th Gen Laptop, Intel Core i...           ₹90,004
5  HP Pavilion 14, 11Th Gen Intel Core I7-16Gb Ra...           ₹79,990
6  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           ₹96,490
7  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...           ₹86,390
8  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...           ₹63,490
9  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           ₹80,990

# Question 8)

In [47]:
driver = webdriver.Chrome()

driver.get("http://www.azquotes.com/")

In [48]:
driver.maximize_window()

In [49]:
topquote_button = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
topquote_button.click()

In [50]:
quote = []
author = []
types = []

In [51]:
for i in range(0,10):
    print('scrapping page', i+1)
    
    quote_tags = driver.find_elements(By.XPATH,'//a[@class="title"]')
    for q in quote_tags:
        quote.append(q.text)
        
    author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
    for a in author_tags:
        author.append(a.text)
        
    type_tags = driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for t  in type_tags:
        types.append(t.text)
        
    next_button = driver.find_element(By.XPATH,'//li[@class="next"]')
    next_button.click()
    time.sleep(1)

scrapping page 1
scrapping page 2
scrapping page 3
scrapping page 4
scrapping page 5
scrapping page 6
scrapping page 7
scrapping page 8
scrapping page 9
scrapping page 10

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[@class="next"]"}
  (Session info: chrome=115.0.5790.99); For documentation on this error, please visit: https://www.selenium.dev/documentation/webdriver/troubleshooting/errors#no-such-element-exception
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00F2A813+48355]
	(No symbol) [0x00EBC4B1]
	(No symbol) [0x00DC5358]
	(No symbol) [0x00DF09A5]
	(No symbol) [0x00DF0B3B]
	(No symbol) [0x00E1E232]
	(No symbol) [0x00E0A784]
	(No symbol) [0x00E1C922]
	(No symbol) [0x00E0A536]
	(No symbol) [0x00DE82DC]
	(No symbol) [0x00DE93DD]
	GetHandleVerifier [0x0118AABD+2539405]
	GetHandleVerifier [0x011CA78F+2800735]
	GetHandleVerifier [0x011C456C+2775612]
	GetHandleVerifier [0x00FB51E0+616112]
	(No symbol) [0x00EC5F8C]
	(No symbol) [0x00EC2328]
	(No symbol) [0x00EC240B]
	(No symbol) [0x00EB4FF7]
	BaseThreadInitThunk [0x76137D59+25]
	RtlInitializeExceptionChain [0x7701B79B+107]
	RtlClearBits [0x7701B71F+191]

In [52]:
print(len(quote),len(author),len(types))

1000 1000 1000